Source: qtspell
Section: libs
Priority: optional
Maintainer: Sandro Mani <manisandro@gmail.com>
Build-Depends: debhelper (>= 9),
               cmake,
               libenchant-2-dev,
               qtbase5-dev,
               qttools5-dev,
               qttools5-dev-tools,
               doxygen
Standards-Version: 3.9.4
Vcs-Svn: https://github.com/manisandro/qtspell.git
Vcs-Browser: https://github.com/manisandro/qtspell
Homepage: https://github.com/manisandro/qtspell

Package: libqtspell-qt5-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iso-codes
Description: Spell checking for Qt5 text widgets
 QtSpell adds spell-checking functionality to Qt5's text widgets, using the
 enchant spell-checking library.
 
Package: libqtspell-qt5-dev
Section: libdevel
Architecture: any
Depends: libenchant-2-dev,
         qtbase5-dev,
         libqtspell-qt5-0 (= ${binary:Version}),
         ${misc:Depends}
Description: Development files for libqtspell-qt5
 This package contains the headers and libraries for developing applications
 with qtspell-qt5 support.

Package: libqtspell-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}
Description: Debugging symbols for qtspell
 This package contains the debugging symbols for qtspell.
