Source: qtspell
Section: libs
Priority: optional
Maintainer: Sandro Mani <manisandro@gmail.com>
Uploaders: 
Build-Depends: debhelper (>= 9),
               cmake,
               libenchant-dev,
               libqt4-dev
Standards-Version: 3.9.4
Vcs-Svn: https://github.com/manisandro/qtspell.git
Vcs-Browser: https://github.com/manisandro/qtspell
Homepage: https://github.com/manisandro/qtspell

Package: libqtspell-1-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, iso-codes
Description: Spell checking for Qt text widgets
 QtSpell adds spell-checking functionality to Qt's text widgets, using the
 enchant spell-checking library.

Package: libqtspell-1-dev
Section: libdevel
Architecture: any
Depends: libenchant-dev,
         libqt4-dev,
         libqtspell-1-0 (= ${binary:Version}),
         ${misc:Depends}
Description: Development files for qtspell
 This package contains the headers and libraries for developing applications
 with qtspell support.

Package: libqtspell-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}
Description: Debugging symbols for qtspell
 This package contains the debugging symbols for qtspell.
